/// ====== application keyframes ==========
.slide-enter

.slide-enter-active
    animation: slide-left 400ms ease-in

.slide-leave

.slide-leave-active
    animation: slide-right 400ms ease-in

.fade-enter
.fade-enter-active
    animation: fade-in 400ms linear
.fade-leave
.fade-leave-active
    animation: fade-out 400ms linear

.scale-enter
.scale-enter-active
    animation: scale-up 400ms ease
.scale-leave
.scale-leave-active
    animation: scale-down 400ms ease


@keyframes slide-left
    0%
        transform: translateX(100vw)
    100%
        transform: translateX(0)

@keyframes slide-right
    0%
        transform: translateX(0)
    100%
        transform: translateX(100vw)
@keyframes fade-in
    0%, 60%
        opacity: 0
    100%
        opacity: 1
@keyframes fade-out
    from
        opacity: 1
    to
        opacity: 0
@keyframes scale-up
    from 
        opacity: 0
        transform: scale(0.6)
    to
        opacity: 1
        transform: scale(1)
@keyframes scale-down
    from 
        opacity: 1
        transform: scale(1)
    to
        opacity: 0
        transform: scale(0.6)
@keyframes spin
    0%
        transform: rotate(0deg)
    25%
        transform: rotate(90deg)
    50%
        transform: rotate(180deg)
    75%
        transform: rotate(270deg)
    100%
        transform: rotate(360deg)