// ==== max width 992px ===
@media screen and (max-width: 768px)
    .landing_image
        max-height: 360px
    
// ==== max width 992px ===
@media screen and (max-width: 992px)
    .landing_image
        max-height: 460px
// ==== min width 768 px
@media screen and ( min-width: 992px )
    .searchBoxClose_btn
        position: fixed 
        top: 30px
        right: 30px         


