@import './fontiran.css'
$site__color: #5661B3

*, body, html
    font-family: IRANSans
    line-height: 1.7
.text-site-color
    color: $site__color !important
.bg-site-color
    background-color: $site__color !important

.searchBox_btn
    background-color: $site__color
    font-size: 1.3em
    border-radius: 40px
    color: #eaeaea

.searchBoxOpen_btn
    position: fixed
    bottom: 20px
    right: 20px
    padding: 10px 17px
    z-index: 999

.searchBoxOpen
    animation: openSearchBox 300ms ease-in-out
    animation-fill-mode: forwards
.searchBoxClose
    animation: closeSearchBox 300ms ease-in-out
    animation-fill-mode: forwards

#search-input
    position: relative
    .search-button
        background-color: $site__color
        position: absolute
        left: 0
        bottom: 0
        top: 0
.rtl
    direction: rtl
.ltr
    direction: ltr
.songs_list
    .list_title
        position: relative
    .list_title::after
        content: ''
        display: block
        position: absolute
        right: 0
        bottom: -10px
        width: 80%
        height: 2px
        background-color: $site__color

.song
    overflow: hidden
    .song__inner
        -webkit-box-shadow: -1px 0px 8px 2px rgba(116, 114, 114, 0.34), 0 2px 4px 0 rgba(0, 0, 0, 0.35)
        box-shadow: -1px 0px 8px 2px rgba(116, 114, 114, 0.34), 0 2px 4px 0 rgba(0, 0, 0, 0.35)
    .song__inner:hover
        transition: all 300ms ease
        transform: scale(1.04)

#home_page
    .landing
        position: relative
        width: 100%

// ====== media queries ====
@import './mediaQuery.sass'
// ====== keyframes ====
@import './keyframes.sass'
