/**
*
*	Name:			IRAN Sans-Serif Font
*	Version:		5.0
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Dec 25, 2012
*	Updated on:		Sep 01, 2017
*	Website:		             http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت های ایران سن سریف یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRAN Sans-serif fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
--------------------------------------------------------------------------------------
*
**/
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url(/fonts/IRANSansWeb_Black.eot?465387eeda5050a622ba869f13e53119);
	src: url(/fonts/IRANSansWeb_Black.eot?465387eeda5050a622ba869f13e53119?#iefix) format('embedded-opentype'),  
		 url(/fonts/IRANSansWeb_Black.woff2?63911f38b2d0bb0650d18555d793dad3) format('woff2'),  
		 url(/fonts/IRANSansWeb_Black.woff?818f7796aeb3cc761b74334bb0b9aa35) format('woff'),  
		 url(/fonts/IRANSansWeb_Black.ttf?7174439308f3d61c0c1f67fd3e052c78) format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url(/fonts/IRANSansWeb_Bold.eot?a65cbf91ec2b253357f7621900ef29a4);
	src: url(/fonts/IRANSansWeb_Bold.eot?a65cbf91ec2b253357f7621900ef29a4?#iefix) format('embedded-opentype'),  
		 url(/fonts/IRANSansWeb_Bold.woff2?2f6f164c3e1f1329cc658b3c725bfd98) format('woff2'),  
		 url(/fonts/IRANSansWeb_Bold.woff?d44408d0941f077f60b1306e1331e806) format('woff'),  
		 url(/fonts/IRANSansWeb_Bold.ttf?9471804b0f92127716fabbbb2c6647e5) format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url(/fonts/IRANSansWeb_Medium.eot?c18ca268db923d61b1c9f06415f4c143);
	src: url(/fonts/IRANSansWeb_Medium.eot?c18ca268db923d61b1c9f06415f4c143?#iefix) format('embedded-opentype'),  
		 url(/fonts/IRANSansWeb_Medium.woff2?7c1c84da23760b0d3f59f8de58c47605) format('woff2'),  
		 url(/fonts/IRANSansWeb_Medium.woff?7bfa046de6ec101d790ba8a54886dc9a) format('woff'),  
		 url(/fonts/IRANSansWeb_Medium.ttf?894895856574b0e65e2739d1a2d1de42) format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url(/fonts/IRANSansWeb_Light.eot?9d7efb918cab94704068d84361d3f898);
	src: url(/fonts/IRANSansWeb_Light.eot?9d7efb918cab94704068d84361d3f898?#iefix) format('embedded-opentype'),  
		 url(/fonts/IRANSansWeb_Light.woff2?7c207019aa62aa4778add0c2b3372720) format('woff2'),  
		 url(/fonts/IRANSansWeb_Light.woff?aac7a640c059ee7f46c35c2019434117) format('woff'),  
		 url(/fonts/IRANSansWeb_Light.ttf?e5b2acaef933a97fa3fb026d8ee73d46) format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url(/fonts/IRANSansWeb_UltraLight.eot?eb6bb7948783b20ce01dbb2d103db8df);
	src: url(/fonts/IRANSansWeb_UltraLight.eot?eb6bb7948783b20ce01dbb2d103db8df?#iefix) format('embedded-opentype'),  
		 url(/fonts/IRANSansWeb_UltraLight.woff2?e0e6c92f90cf30782f81d80a37c22c54) format('woff2'),  
		 url(/fonts/IRANSansWeb_UltraLight.woff?2097362beeb263fdd902ad249202cd79) format('woff'),  
		 url(/fonts/IRANSansWeb_UltraLight.ttf?f8a4f6910724c0373ffd38add5cea6ac) format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url(/fonts/IRANSansWeb.eot?70a5f97c18c45e8ef620a374be61c6c3);
	src: url(/fonts/IRANSansWeb.eot?70a5f97c18c45e8ef620a374be61c6c3?#iefix) format('embedded-opentype'),  
		 url(/fonts/IRANSansWeb.woff2?9d38733b8a7b9153f2bf9bfe476ef8e3) format('woff2'),  
		 url(/fonts/IRANSansWeb.woff?50f4bba2f37081daeca8c423abdced8b) format('woff'),  
		 url(/fonts/IRANSansWeb.ttf?244a401eb43afb0fe739f8dcd8530ae4) format('truetype');
}
*,
body,
html {
  font-family: IRANSans;
  line-height: 1.7;
}

.text-site-color {
  color: #5661B3 !important;
}

.bg-site-color {
  background-color: #5661B3 !important;
}

.searchBox_btn {
  background-color: #5661B3;
  font-size: 1.3em;
  border-radius: 40px;
  color: #eaeaea;
}

.searchBoxOpen_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 17px;
  z-index: 999;
}

.searchBoxOpen {
  -webkit-animation: openSearchBox 300ms ease-in-out;
          animation: openSearchBox 300ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.searchBoxClose {
  -webkit-animation: closeSearchBox 300ms ease-in-out;
          animation: closeSearchBox 300ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

#search-input {
  position: relative;
}

#search-input .search-button {
  background-color: #5661B3;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.songs_list .list_title {
  position: relative;
}

.songs_list .list_title::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 80%;
  height: 2px;
  background-color: #5661B3;
}

.song {
  overflow: hidden;
}

.song .song__inner {
  box-shadow: -1px 0px 8px 2px rgba(116, 114, 114, 0.34), 0 2px 4px 0 rgba(0, 0, 0, 0.35);
}

.song .song__inner:hover {
  transition: all 300ms ease;
  transform: scale(1.04);
}

#home_page .landing {
  position: relative;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .landing_image {
    max-height: 360px;
  }
}

@media screen and (max-width: 992px) {
  .landing_image {
    max-height: 460px;
  }
}

@media screen and (min-width: 992px) {
  .searchBoxClose_btn {
    position: fixed;
    top: 30px;
    right: 30px;
  }
}

.slide-enter-active {
  -webkit-animation: slide-left 400ms ease-in;
          animation: slide-left 400ms ease-in;
}

.slide-leave-active {
  -webkit-animation: slide-right 400ms ease-in;
          animation: slide-right 400ms ease-in;
}

.fade-enter-active {
  -webkit-animation: fade-in 400ms linear;
          animation: fade-in 400ms linear;
}

.fade-leave-active {
  -webkit-animation: fade-out 400ms linear;
          animation: fade-out 400ms linear;
}

.scale-enter-active {
  -webkit-animation: scale-up 400ms ease;
          animation: scale-up 400ms ease;
}

.scale-leave-active {
  -webkit-animation: scale-down 400ms ease;
          animation: scale-down 400ms ease;
}

@-webkit-keyframes slide-left {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slide-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100vw);
  }
}

@-webkit-keyframes fade-in {
  0%, 60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0%, 60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@-webkit-keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0.6);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scale-up {
  from {
    opacity: 0;
    transform: scale(0.6);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes scale-down {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.6);
  }
}

@keyframes scale-down {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.6);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

