<template>
  <div id="home_page" class="lg:px-20 px-3">
    <Landing v-if="!showSearchBox" @landingSearch="showSearchBox = true" />
    <!-- <List :weeklySongs="weekly.songs" v-if="!showSearchBox" /> -->
    <transition name="fade">
      <search-box v-if="showSearchBox" :showSearchBox="showSearchBox" v-on:toggleSearchBox="toggleSearchBox" />
    </transition>
    <transition name="fade">
      <button  class="searchBox_btn focus:outline-none" :class=" showSearchBox ? '' : 'searchBoxOpen_btn' " @click="toggleSearchBox" v-if="!showSearchBox">
        <i class="fas fa-search"></i>
      </button>
    </transition>
    <footer class="py-4 px-2 text-xs bg-gray-lighter text-center">
        <p class="my-3">طراحی و توسعه
            <a href="http://www.mostafa-rahmani.ir" target="_blank" class="no-underline">توسط مصطفی رحمانی</a>
        </p>        
    </footer>
  </div>
</template>
<script>
import Landing from "./Landing"
import List from "./List"
import searchBox from "./SearchBox"
export default {
  name: 'Home',
  components: {
    Landing,
    List,
    searchBox
  },
  created(){
    // if( ! this.$store.getters.loggedIn ){
    //   this.$store.dispatch('retreiveToken')
    // }
  },
  data(){
    return {
      weekly: {
        'listTitle' : 'بهترینهای هفته',
        'songs': [
          {
            'name': 'عشق منی تو',
            'singer': 'محمد',
            'image': 'https://nex1music.ir/upload/2019-03-02/yasin-torki-chand-shakhsiyati-2019-03-02-21-38-29.jpg'
          },
          {
            'name': 'عشق منی تو',
            'singer': 'محمد',
            'image': 'https://nex1music.ir/upload/2019-03-02/raykad-band-bara-to-2019-03-02-19-38-18.jpg'
          },
          {
            'name': 'باز منو تنهایی یام',
            'singer': 'پرشین بند',
            'image': 'https://nex1music.ir/upload/2019-03-02/persian-band-baz-mano-tanhaiyam-2019-03-02-19-33-21.jpg'
          },
          {
            'name': 'محب زیبای مهر و ماه',
            'singer': 'پرشین بند',
            'image': 'https://nex1music.ir/upload/2019-03-02/moheb-zibaye-mehro-mah-2019-03-02-19-30-43.jpg'
          },
          {
            'name': 'عشق منی تو',
            'singer': 'محمد',
            'image': 'https://nex1music.ir/upload/2019-03-02/yasin-torki-chand-shakhsiyati-2019-03-02-21-38-29.jpg'
          },
          {
            'name': 'محب زیبای مهر و ماه',
            'singer': 'پرشین بند',
            'image': 'https://nex1music.ir/upload/2019-03-02/moheb-zibaye-mehro-mah-2019-03-02-19-30-43.jpg'
          },
          {
            'name': 'باز منو تنهایی یام',
            'singer': 'پرشین بند',
            'image': 'https://nex1music.ir/upload/2019-03-02/persian-band-baz-mano-tanhaiyam-2019-03-02-19-33-21.jpg'
          },
          {
            'name': 'عشق منی تو',
            'singer': 'محمد',
            'image': 'https://nex1music.ir/upload/2019-03-02/yasin-torki-chand-shakhsiyati-2019-03-02-21-38-29.jpg'
          },
          {
            'name': 'محب زیبای مهر و ماه',
            'singer': 'پرشین بند',
            'image': 'https://nex1music.ir/upload/2019-03-02/moheb-zibaye-mehro-mah-2019-03-02-19-30-43.jpg'
          },{
            'name': 'عشق منی تو',
            'singer': 'محمد',
            'image': 'https://nex1music.ir/upload/2019-03-02/yasin-torki-chand-shakhsiyati-2019-03-02-21-38-29.jpg'
          },
        ],
      },
      showSearchBox: false
    }
  },
  methods: {
    landingSearch(){
      this.showSearchBox = true
      this.$emit('')
    },
    toggleSearchBox(){
      if( this.showSearchBox ){
        this.showSearchBox = !this.showSearchBox
        document.getElementsByTagName('body')[0].overflow = 'scroll';
        return
      }
      this.showSearchBox = !this.showSearchBox
      document.getElementsByTagName('body')[0].overflow = 'hidden'
      return
    }
  }
}
</script>
<style lang="scss">
//   @import '../../sass/tailwind.scss';
//   @import '../../sass/style.sass';
</style>
