<template>
    <section class="landing">
        <div class="shadow-sm rtl border-t border-b border-indigo rtl text-right  text-sm text-indigo-dark px-4 py-2 my-2 rounded" role="alert">
              <!-- <p class="font-bold">استفاده از نسخه مخصوص موبایل</p> -->
            <p>نصب نسخه موبایل: از منوی مرورگر گزینه اضافه به صفحه خانه یا
               add to home screen 
               را انتخاب کنید</p>
        </div>
        <div class="flex lg:flex-row flex-col-reverse">
          <div class="w-full lg:w-1/2 flex">
            <div class="lg:mt-32 lg:ml-auto w-full rtl text-center lg:p-5">
              <h2 class="text-grey-darkest text-lg px-10 hidden lg:block md:px-0 md:text-2xl my-5">جستجوی موسیقی در بین بهترین های وب فارسی</h2>
              <p class="mt-4">به جای اینکه تو گوگل و بین سایت های مختلف دنبال موزیک بگردی از موزیک یاب استفاده کن :‌)</p>
            </div>
          </div>
          <div class="w-full lg:w-1/2 text-center">
            <img src="../../img/banner.svg" alt="جسجوی موسیقی در تمام وب فارسی" class="landing_image">
          </div>
      </div>
    </section>
</template>

<script>
export default {
    name: 'Landing',
    data(){
      return {
        query: null
      }
    },
    methods:{
      landingSearch(){
        this.$emit('landingSearch', this.query)
      }
    }
}
</script>

<style>
.landing{
  min-height: 80vh
}
.testing__alert{
    animation: fade-out 500ms ease;
    animation-fill-mode: forwards;
    animation-delay: 14000ms
}
</style>
