<template>
    <div class="songs_list mb-10" >
        <ul class="list-reset flex mb-4">
            <li class="flex-1 mr-2">
                <a class="text-center no-underline block cursor-pointer text-indigo py-2 px-2 text-sm"
                @click="changeList('monthly')"
                :class=" monthly ? 'block border-b-solid border-indigo border-b-2' : '' ">بهترین های ماه</a>
            </li>
            <li class="flex-1 mr-2">
                <a class="text-center no-underline block cursor-pointer py-2 px-2 text-sm text-indigo"
                @click="changeList('weekly')"
                :class=" weekly ? 'block border-b-solid border-indigo border-b-2' : '' ">بهترینهای هفته</a>
            </li>
        </ul>

      <transition name="fade">
        <div class="flex flex-wrap" v-if="monthly">
            <Song  v-for="(item, index) in monthlySongs "
            class="md:p-2 p-1 w-1/2 md:w-2/4 lg:w-1/5 " v-bind:key="index" :song="item"></Song>
        </div>
      </transition>
      <transition name="fade">
        <div class="flex flex-wrap" v-if="weekly">
            <Song  v-for="(item, index) in weeklySongs "
            class="md:p-2 p-1 w-1/2 md:w-2/4 lg:w-1/5 " v-bind:key="index" :song="item" />
        </div>
      </transition>
    </div>
</template>

<script>
import Song from './Song';
export default {
    name: 'List',
    components: {
        Song
    },
    props: ['weeklySongs', 'monthlySongs'],
    data(){
        return {
            currentListTitle: 'mostSearched',
            weekly: true,
            monthly: false,
            mostSearched: false,
        }
    },
    created() {
        this.$store.dispatch('retreiveWeekly')
    },
    computed: {
        weeklyList(){
            return this.$store.getters.weeklyList
        },
        monthlyList(){
            return this.$store.getters.monthlyList
        },
    },
    methods: {
        changeList(prop){
            if( prop == 'monthly' ){
                this.monthly = true
                this.weekly = false
                // this.mostSearched = false
                // if( this.monthlyList || this.$store.getters.monthlyList ){// if we have already retreived the monthly list
                //     return
                // }
                // this.$store.dispatch('retreiveMonthly')
                return
            }
            if( prop == 'weekly'){
                this.monthly = false
                this.weekly = true
                // this.mostSearched = false
                // return
            }
            if( prop == 'mostSearched' ){
                this.monthly = false
                this.weekly = false
                this.mostSearched = true
                return
            }
        },
    }
}
</script>

<style>

</style>
