<template>

    <div id="search-box" class="bg-white flex flex-wrap w-full bg-grey-lightest p-5">
        <i class="fas text-indigo text-3xl fa-times cursor-pointer" @click="closeSearchBox()" id="close-search" v-if="!showInfo"></i>
        <div class="md:w-2/5 mx-auto md:mt-0 w-full p-3 pt-10 md:p-0 search-box-inner rtl">
            <label for="search-input" class="block w-full relative">
                <i class="fas fa-search text-grey-dark searchbtn" @click="search"></i>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 block
                leading-tight focus:outline-none focus:shadow-outline"  id="search-input" v-model="query"
                 type="text" placeholder="نام آهنگ یا خواننده را بنویسید" @keydown.enter="search">
            </label>
            <div class="spinner flex" v-if="spinner" :class="!spinner ? 'opacity-1' : 'opacity-0' " >
                <div class="block m-auto text-center">
                    <img src="/images/spinner.svg" class="spinner__active" alt=""><br>
                    <span class="my-4">در حال جستجو هستیم <br>لطفا منتظر بمانید</span>
                </div>
            </div>
            <transition name="fade">
                <div v-if="error"
                class="bg-indigo-lightest border-t-4 mx-auto w-full h-24 mt-10 mb-auto mx-auto md:w-2/3 lg:w-2/4 border-indigo rounded-b text-indigo-darkest px-4 py-3 shadow-md" role="alert">
                    <div class="flex text-right rtl w-full">
                        <div class="py-1 mx-2"><svg class="fill-current h-6 w-6 text-indigo mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/></svg></div>
                        <div>
                        <p class="font-bold w-full">جستجو موفق نبود </p>
                        <p class="text-sm mt-2 w-full">لطفا ورودی خود را تغییر دهید و دوباره امتحان کنید.</p>
                        </div>
                    </div>
                </div>
            </transition>
            <transition name="fade">
                <!-- <ul class="list-none rtl" v-if="results && !error">
                    <li class="p-4 mb-2 rounded bg-grey-dark" v-for="(item, index) in results" v-bind:key="index" >
                        <span class="float-right">{{item.title}}</span>
                        <span class="float-left"> توسط {{item.website}}  </span>
                    </li>
                </ul> -->
                <div class="my-10 w-full" v-if="results && !error">
                    <p class="text-right my-5 px-2"><span class="list_title"> نتایج جستجو  </span></p>
                    <Song v-for="(item, index) in results" v-bind:key="index" :song="item" @showSongInfo="showSongInfo(item)"></Song>
                </div>
            </transition>
            <transition name="fade">
                <song-info v-if="showInfo" :song="songInfo" v-on:close-song-info="closeSongInfo"></song-info>
            </transition>
        </div>
    </div>
</template>

<script>
import Song from './Song'
import SongInfo from './SongInfo';
import axios from 'axios'
export default {
    name: 'SearchBox',
    props: [
        'showSearchBox'
    ],
    components: {
        Song, SongInfo
    },
    data(){
        return{
            songInfo: null,
            showInfo: false,
            query: '',
            spinner: false,
            results: null,
            lastResults: null,
            error: false
        }
    },
    methods: {
        closeSearchBox(){
            console.log('toggle search');
            
            this.$emit('toggleSearchBox')
            if( this.results )
                this.lastResults = this.results
            this.results = null
        },
        showSongInfo(item) {
            console.log(item);
            this.songInfo = item;
            this.showInfo = true;
        },
        closeSongInfo() {
            this.showInfo = false;
        },
        search(){
            this.spinner = true
            this.error = false
            axios.post('/songs/search', {
                query: this.query
            })
            .then( res => {
                if(res.data.body.length > 0){
                    console.log(res.data.body);
                    this.results = res.data.body
                    this.spinner = false
                    this.error = false
                    return
                }
                this.results = null
                this.spinner = false
                this.error = true
                return

            }).catch( err => {
                this.results = null
                this.error = true
                this.spinner = false
            })
        }
    }
}
</script>
<style lang="sass">
    #search-box
        position: fixed
        top: 0
        right: 0
        left: 0
        bottom: 0
        z-index: 9
        overflow-y: scroll
        .searchbtn 
            position: absolute
            left: .75rem
            top: .75rem
            cursor: pointer
    .search-box-inner
        z-index: 99
    .spinner
        position: absolute
        top: 0
        background:  rgba(255, 255, 255, 0.9)
        bottom: 0
        right: 0
        left: 0
    .spinner img
        width: 110px
    .spinner__active
        animation: spin 800ms ease
        animation-timing-function: linear
        animation-iteration-count: infinite
        animation-fill-mode: forwards
    #close-search 
        cursor: pointer !important
        position: absolute
        z-index: 9999 !important
        cursor: pointer
        top: 20px
        left: 20px
</style>
