<template>
  <div class="song md:p-4 p-2 md:mb-2 mb-1 cursoir rounded" @click="showSongInfo">
            <span class="float-right">{{song.title}}</span>
            <span class="float-left"> توسط {{song.website}}  </span>
         <!--
        <div @click="showSongInfo" class="bg-cover  cursor-pointer   song__inner h-64 shadow-md bg-center rounded"
        :style="{ backgroundImage: 'url(' + song.image + ')' }">
        </div>
        <p class="text-center rtl text-sm my-2" v-if="song.title">{{ song.title }}</p>
        <p class="text-center rtl text-sm my-2" v-else>{{ song.singer }} - {{ song.name }} </p>-->
    </div> 
</template>
<script>
import songInfo from './SongInfo';
export default {
    'name' : 'Song',
    components: {
        songInfo
    },
    props: {
        song: {
            type: Object,
            required: true
        }
    },
    data(){
        return {
            songInfo: false
        }
    },
    methods: {
        showSongInfo(){
            this.$emit('showSongInfo');
        },
    }
}
</script>

<style>
    .song {
        cursor: pointer;
        background: #eaeaea;
    }
</style>
