<template>
    <div class="song_info flex md:py-2">
        <div v-if="songData" class="bg-white md:shadow-lg md:p-2 md:mx-auto rounded w-full md:w-2/3 lg:w-2/3 xl:w-1/3 flex flex-col">
            <div class="song_image flex bg-cover bg-top w-full" :style="{ backgroundImage: 'url(' + songData.image + ')' }">
                <button  class="rounded-full p-2 song_info_back inline-block lg:text-3xl
                text-3xl text-white fas fa-times-circle appearance-none focus:outline-none" @click="closeSongInfo">
                </button>
            </div>
            <div class="p-3" >
                <p class="text-md mt-auto p-3 bg-grey-light mb-2 rounded text-grey-darker text-right w-full">{{ song.title }}</p>
                <!-- 320 dl link  -->
                <a   :href="songData.dl320"
                class="block no-underline mb-2 dl-link text-white cursor-pointer text-center rounded p-2">
                دانلود نسخه 320
                <i class="fas mx-1 fa-cloud-download-alt"></i>
                </a>
                <!-- 120 dl link -->
                <a  :href="songData.dl120"
                class="block no-underline mb-2 dl-link text-white cursor-pointer text-center rounded p-2">
                دانلود نسخه 120
                <i class="fas mx-1 fa-cloud-download-alt"></i>
                </a>
                <p>
                    <audio crossorigin>
                        <source :src="songData.dl120" type="audio/mpeg">
                    </audio>
                </p>
                <div class="my-2 p-2 bg-indigo-lightest rtl text-right text-grey-darker">
                    <p class="mb-2">خواننده : <span class="mx-1">{{ songData.singer }}</span></p>
                    <p>نام ترانه : <span class="mx-1">{{ songData.name }}</span></p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
export default {
    name: 'songInfo',
    props: {
        song: {
            required: true,
            type: Object
        }
    },
    data(){
        return {
            fetching: false,
            spinner: false,
            songData: null
        }
    },
    mounted(){
        
        if( typeof this.song.dl320 == 'undefined'){
            this.spinner = true;
            axios.post('/songs/getlinks', {
                'load_link' : this.song.load_link
            }).then( res => {
                this.songData = res.data.body
                this.spinner = false
            }).catch( err => {
                console.log(err);
                this.spinner = false;
            })
        }else{
            this.songData = this.song
        }
    },
    methods: {
        closeSongInfo(){
            console.log('closeSongInfo emit')
            this.$emit('close-song-info')
        },
        getDownloadLink(){
            axios.post('/songs/getlinks', {
                'load_link' : this.song.load_link
            }).then( res => {
                console.log('song request')
                console.log(res.data.body)
                this.song.dl = res.data.body
                return res.data.body
            }).catch( err => console.log(err))
        }
    }
}
</script>
<style lang="sass">
    .song_info
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        z-index: 1005
        .song_image
            height: 100vw
            position: relative
            &:after
                content: ''
                position: absolute
                z-index: 49
                top: 0
                right: 0
                background: rgba(0, 0, 0, .3)
                left: 0
                bottom: 0
        .loading
            width: 20px
            animation: spin 800ms
            animation-timing-function: linear
            animation-iteration-count: infinite
            animation-fill-mode: forwards
        .song_info_back
            position: absolute
            z-index: 51
            top: 10px
            left: 10px
        .dl-link
            background-color: #eaeaea
            color: #888
            cursor: pointer

</style>
